* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background-color: #0B2D33;
    box-shadow: rgba(11, 45, 51, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    background-color: #0d363dfd;
}

.nav-active {
    background-color: #0d363dfd;
}

nav li:first-child {
    margin-right: auto;
    text-transform: uppercase;
    font-weight: bold;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(11, 45, 51, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: -10px 0 10px rgba(11, 45, 51, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li, .sidebar a {
    width: 100%;
}



/*.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.logo {
    font-weight: bold;
    font-size: larger;
}

.logo a {
    text-decoration: none;
    color: #A57B36;
}

.nav-bar, .nav-bar a {
    padding: 15px;
}

.nav-bar a {
    font-size: smaller;
} */

/* carousel */
.carousel-container {
    padding: 0 15px;
    background-image: url(/KO_Portfolio/imgs/students_graduating.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.carousel-text h2 {
    margin: 10px;
}

.carousel-text p {
    margin-bottom: 10px;
}

.carousel-text {
    text-align: center;
}

.carousel-form {
    border: 1px solid #0B2D33;
    border-radius: 5px;
    padding: 10px;
    max-width: 350px;
    margin: 10px auto;
}

.project-form {
    padding: 1px;
}

.project-form #label-large {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.project-form p {
    text-align: center;
}

.project-form * {
    padding: 8px;
    margin: 10px 0;
    display: block;
    width: 100%;
}

.tel-dropdown {
    padding: 0;
    display: flex;
}

#country-code {
    width: 50%;
    margin-right: 2px;
}

.select-files {
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #FFF;
    border: 1px solid #757575;
    border-radius: 2px;
}

.select-files:hover {
    border: 1px solid #4F4F4F
}

label[for="client-file"] {
    width: 35%;
}

input[type="file"][name="client-file"] {
    flex: 1;
}

/* main */

main {
    background-color: #a57a36bd;
    margin: 10px 0;
    
}

/* sample class section */
.ss-main {
    margin: 10px;
    padding: 10px;
}

#ss-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#ss-item {
    width: 294px;
    margin: 1% 1%;
    padding: 15px;
    background-color: #0B2D33;
    color: #A57B36;
    border-radius: 6px;
    position: relative;
}

#ss-item h3 {
    padding: 0 0 10px 0;
    color: #DFB56C;
}

#ss-item p {
    line-height: 1.5;
    margin-bottom: 18%;
}

.view-samples-btn {
    padding: 5px;
    width: 50%;
    position: absolute;
    bottom: 20px; 
    border: 1px solid #A57B36;
    color: #0B2D33;
    border-radius: 5px;
}

.view-samples-btn:hover {
    border-color: #A57B36;
    color: #0B2D33;
    background-color: #A57B36;
    font-weight: bold;
}

/* footer */

footer section{
    display: flex;
    justify-content: center;
    font-size: smaller;
}